@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item span.tooltip {
    visibility: hidden;
    background-color: #3e3e3e;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: -35px; /* Position below the icon */
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.875rem; /* Smaller font for tooltips */
}

.nav-item:hover span.tooltip {
    visibility: visible;
    opacity: 1;
}